{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
  <link rel="icon" href=" {% static 'images/favicon.ico' %} " type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">

  <title>Document</title>
</head>

<body>
  {% include "myapp/navbar.html"%}
  {% block content%}
  TEXT
  {% endblock content%}
  <!-- {% block content2%}
  TEXT2
  {% endblock content2%} -->

</body>

</html>