{% extends "myapp/base.html" %}

{% block content %}
{%if user.profile %}
<div class="grid p-10 grid-cols-1 lg:grid-cols-3 sm:grid-cols-1">
  <div class="rounded shadow-lg">
    <div>
      {%if user.profile.image %}
        <img src="{{user.profile.image.url}}" alt="" srcset="">
      {% endif%}
      
    </div>
    <h1 class="text-xl font-bold m-2">{{ user.username}}</h1>
  </div>
</div>
{%else%}
  <form action="" method="post">
    <h1>FORM Profile</h1>
  </form>
{% endif%}

{% endblock content %}